<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">My Portfolio</h1>
    <p class="lead text-muted">
      Below is a small selection of art that I have created over the years.
      This collection has been curated to show a progression from earlier work to what I am creating today.
      The goal of my art is to depict an intrinsic connection between my own humanity and the things that inspire
      me.
    </p>
    <p>
      <% if logged_in?(:site_admin) %>
        <%= link_to "New Portfolio", new_portfolio_path, class: 'btn btn-primary' %>
      <% else %>
      <%= link_to 'Contact to work together', about_path, class: 'btn btn-primary' %>
      <%= link_to 'Read the blog', blogs_path, class: 'btn btn-secondary' %>
      <% end %>
    </p>
  </div>
</section>
