<div class="row">
  <div class="col-md-4">
    <div class="profilepic">
      <%= image_tag "profile.jpg", width: 300, alt: "Profile Image", style: "border-radius: 100px;" %>
    </div>
  </div>

  <div class="col-md-8">
    <p class="about-text">After spending nearly a decade chasing my dream to be a freelance traditional artist,
      I came to realize that this field is simply non-existant in our modern world of digital production.
      While I still create traditional art on a consistent basis, I made the decision to utilize my
      talents in a more marketable fashion. After spending years teaching myself and honing my skills in
      graphic design, I found the DevCamp coding bootcamp provided by Bottega. After nine months of intensive
      coding classes, my skills within web development have grown exponentially.</p>

    <p class="about-text">Thanks to the DevCamp course, I can now build applications and websites from the ground up by leveraging
      the powerhouse that is Ruby on Rails. On top of this, I have learned how to use HTML, CSS, Javascript, and
      jQuery to create functional and aesthetically pleasing applications. My goal as a developer is to alleviate
      some of the pressures clients run into while trying to build a brand. With my experience in design and art,
      I can make any of your visions come to life, while bringing my web development education to make that vision
      accessible to anyone.</p>
  </div>
  <div class="col-md-8">
    <p>
      <button
        class="btn btn-default"
        type="button"
        data-toggle="collapse"
        data-target="#education"
        aria-expanded="false"
        aria-controller="education"
      >
        Education
      </button>
    </p>

    <p>
      <div class="collapse" id="education">
        <ul class="schools">
          <li>The American Academy of Art // Graduated in 2012 BFA in Illustration</li>
          <li>Bottega Tech // 2018 Certification in Fullstack Development</li>
        </ul>
      </div>
    </p>
  </div>

  <div class="col-md-4">
    <p>
      <button
        class="btn btn-default"
        type="button"
        data-toggle="collapse"
        data-target="#jobHistory"
        aria-expanded="false"
        aria-controller="jobHistory"
      >
        Job History
      </button>
    </p>

    <p>
      <div class="collapse" id="jobHistory">
        <ul class="jobs">
          <li>Whole Foods Market // 2010 - 2016</li>
          <li>Vroom // 2017 - 2018</li>
          <li>North End BBQ // 2018 - current</li>
        </ul>
      </div>
    </p>
  </div>
</div>
