<h2>contact</h2>

<p>if you want to get in touch, collaborate on a project, or find out more information,
  i'm always available to chat.<p>

<hr>

<div class="row">
  <div class="col-md-6">
    <b><p>phone</p></b>

    <p><%= number_to_phone "6302094314" %></p>

    <b>email</b>

    <p><a href="mailto:matthewkocanda@gmail.com" "email me">matthewkocanda@gmail.com</a></p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3061.2932153563097!2d-86.17413138495387!3d39.89006699542539!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x886b5363a7eef29d%3A0x656db26a5811fe1a!2s7490+Meridian+Hills+Ct%2C+Indianapolis%2C+IN+46260!5e0!3m2!1sen!2sus!4v1522436324950" width="250" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
