<div class="text-center">

  <div class="inner cover">
    <h2 class="cover-heading">welcome</h2>
    <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
    <p class="lead">
      <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
    </p>
  </div>

</div>
