<div class="text-center">

  <div class="inner cover">
    <h2 class="cover-heading">Hello, my name is Matthew</h2>

    <hr>


    <p class="lead">Traditional artist. Designer. Newly evolved into a web developer.
      This page will demonstrate my abilities in these fields.</p>
    <p class="lead">I create functioning applications and websites from start to finish, all through the
      lens of a professionally experienced artist.</p>
  </div>

</div>
